{% load url from future %}
<!DOCTYPE html> 
<html> 
  <head> 
    <title>Shopster</title> 
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.css" />
    <script src="http://code.jquery.com/jquery-1.7.2.js"></script>
    <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.js"></script>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
  </head> 
<body>
<div data-role="page">
  <div data-role="header">
    <a data-ajax="false" href="/food/" data-icon="home" data-iconpos="notext">Home</a>
    {% block jqmheader %}{% endblock %}
    {% if user.is_authenticated %}
    <a data-ajax="false" href="{% url 'food.views.logout_view' %}">Logout</a>
    {% endif %}

  </div>
    {% block jqmcontent %}{% endblock %}
    {% block jqmfooter %}{% endblock %}

    {% block jqmscripts %}
        {# block for scripts which are specific to a given "page", note: they will still be loaded in the same page as everything else, they'll just get loaded later #}
    {% endblock %}
</div><!-- /page -->
{% block sitescripts %}
{# block for scripts to be used for all pages on the site #}
{% endblock %}
</body>
</html>
